<html class="light" [ngStyle]="{'background-image' : 'url( '+bg2 +')' }">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Energy Social Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a (click)="goToUserHome()" class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<button id="changer" (onclick)="changeImage($event)">Change</button>

<h1 [ngStyle]="{'background-image' : 'url( '+shine +')' }">{{visitprofile.first_name | titlecase}} {{visitprofile.last_name | titlecase}}</h1>
<div>
    <div id="userInfo">  <h3>{{visitprofile.username}}</h3>
       <div class="imageContainer"> 
           <img id="pic" src="{{user_img}}"  alt="profile image"/> 
        </div>
        
    </div>
</div>

<div id="container">
    <div class="block" *ngFor="let display of displays">
        <div class="name" [ngStyle]="{'background-image' : 'url( '+glit +')' }">{{display.profile.username}}</div>
        <div class="body">{{display.description}} {{display.image}}</div>
        <!-- I want to show the number of likers and when you click it pops up the likers -->
        <div class="like">{{display.likers}}</div>
        <button class="like">Like</button>
    </div>
   


</div>


</html>
