   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Energy Social Network</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" routerLink="/home" [queryParams]="{id:this.id}">Home </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/user" [queryParams]="{user:this.profile.username, id:this.id}">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/">Logout</a>
                      </li>
            </ul>
            </div>
        </div>
    </nav>
    <h2>Edit Profile</h2>
    <div class="float-container">
        <div class="float-child">
            <div class="old-view">
                <div class="title"> Current info:</div>
                <ul class="list-group">
                    <li class="list-group-item">Username: {{this.profile.username}} </li>
                    <li class="list-group-item">Password: {{this.profile.password}} </li>
                    <li class="list-group-item">First Name: {{this.profile.first_name}} </li>
                    <li class="list-group-item">Last Name: {{this.profile.last_name}} </li>
                    <li class="list-group-item">Email: {{this.profile.email}} </li>
                </ul>
            </div>
        </div>
    
        <div class="float-child">
            <div class="edit-view"> 
                <div class="title"> Edit info:</div>
                <input [(ngModel)]="username" class="edit-input" type="text" placeholder="username">
                <input [(ngModel)]="password" class="edit-input" type="password" placeholder="password">
                <input [(ngModel)]="firstname" class="edit-input" type="text" placeholder="firstname">
                <input [(ngModel)]="lastname" class="edit-input" type="text" placeholder="lastname">
                <input [(ngModel)]="email" class="edit-input" type="text" placeholder="email">
                <div class="wrong" [innerText]="updateMessageVariable"></div>
                <button (click)="edit()" id="edit-btn" >Save Changes</button>
            </div>
        </div>
    </div>




