.float-container{
    
    padding: 40px;
}

.float-child{
    width: 50%;
    float: left;
    padding: 20px;
    
}

.old-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding: 50px;
    margin: 100px;
    height: 430px;
    width: 450px;
    background-color: lightgray;
    justify-content: center;
}

.edit-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    width: 450px;
    padding: 50px;
    margin: 100px;
    
    background-color: lightgray;
    justify-content: center;
}

.title{
    font-weight:bold;
    text-decoration: underline;
    margin: 10px;
}

li{
    margin:5px;
}

.edit-input{
    margin: 5px;
    margin-bottom: 5px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 6px;
    justify-content: center;
}

#edit-btn{
    border: 2px solid black;
    border-radius: 6px;
    margin-left: 25%;
    margin-right: 25%;
}

#edit-btn:hover{
    background-color: rgb(157, 157, 157);
    transition: 1s;
}

.wrong{
    color:red;
}