<div id="user-container">
    <div class="post_creation">
            <!-- <input class="user_input" [(ngModel)]="post_desciption" type="text" placeholder="What's in your mind"> -->
            <textarea name="input" id="user_input"[(ngModel)]="post_desciption" type="text" placeholder="What's on your mind?"></textarea>
            <input type="file" class="file-upload" (change)="getFile($event)">
            <button class="user_post"(click)="post()" >Post</button>
        
    </div>
</div>


<div class="displays_container">
    <div *ngFor="let display of displays" class="display_element">
            <div class="display_contents">
                <div class="display_description">
                    <div class="display_user_container">
                        <div>
                            <img class="display_user_img" src="{{display.profile.img}}" alt="">
                        </div>
                        <h3 class="display_user">{{display.profile.username}}</h3>
                    </div>
                    <div class="dd">{{display.description}}
                    </div>
                    <div>
                        <img class="display_img" src="{{display.img}}" >
                    </div>
                    <button class="display_like" (click)="toggleLike($event,display.displayId)" [innerText]="isUserInLikesArray(display.likers)"></button>
                    <div>{{display.likers.length}}</div>
                </div>
        </div>
    </div>
</div>