#user-container{
    padding: 50px;
    height: fit-content;
}


.user-block{
    background-color: #6cf5aa;
    padding: 10px;
    margin: 20px;
    display: flex;
    border-radius: 20px;
    width:50%;
    height: 200px;
    flex-direction: column;
    
    align-content: space-around;
}

.user-body{
    display: flex;
    justify-content: center;
}

.user-like{
    width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #f36a6a;
    color: rgba(0, 0, 0, 0.958);
}