#user-container{
    padding: 50px;
    height: fit-content;
    
}


.user-block{
    background-color: #6cf5aa;
    padding: 10px;
    margin: 20px;
    display: flex;
    border-radius: 20px;
    width:50%;
    height: 200px;
    flex-direction: column;
    
    align-content: space-around;
}

.user-body{
    display: flex;
    justify-content: center;
}

.user-like{
    width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #f36a6a;
    color: rgba(0, 0, 0, 0.958);
    margin: 5px;
}

.user-post{
    width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #f36a6a;
    color: rgba(0, 0, 0, 0.958);
    margin: 5px;
    float: right;
    width: 275px;
}

.post_creation .post{
    margin: 5px;
    float:right;
    width: 500;
    top: 10px;
}

.post_creation .post .user_post{
    width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #f36a6a;
    color: rgba(0, 0, 0, 0.958);
    margin: 5px;
    vertical-align: top;
}

.post_creation .post .upload_picture{
    width: 150px;
    border: none;
    border-radius: 8px;
    background-color: #f36a6a;
    color: rgba(0, 0, 0, 0.958);
    margin: 5px;
    vertical-align: top;
}


.post_creation .post .user_input{
    text-align: 10p;
    vertical-align: 90px;
    width: 640px;
    height: 125px;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.958);
    margin: 5px;
}