<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Energy Social Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Logout</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<h1>HOME FEED</h1>

<!-- Need to make toggle to view post -->
<button class="toggle_post_display" (click)="togglePost()">Create Post</button>
<div class="post_creation">
    <div class="post">
        <textarea class="post_description" [(ngModel)]="post_desciption" type="text" placeholder="What is happening"> </textarea>
        <button class="upload_photo_btn">Upload Picture</button>
        <button class="post_btn" (click)="post()" >Post</button>
    </div>
</div>

<div class="displays_container">
    <div *ngFor="let display of displays" class="display_element">
        <!-- goes to the poster profile page -->
        <div class="display_user_container">
            <div>
                <img class="display_user_img" src="{{display.profile.img}}" alt="">
            </div>
            <button class="display_user" (click)="goToUser($event)">{{display.profile.username}}</button>
        </div>
        
            <div class="display_contents">
                <div class="display_description">{{display.description}}</div>
            <!-- Div for Display Picture(s) -->
            <div>
                <img class="display_img" src="{{display.img}}" >
            </div>
        </div>
        <button class="display_like" (click)="toggleLike($event)"[innerText]="display.like ? 'Dislike':'Like'"></button>
    </div>
</div>

<div class="user_container">
    <button class="user_username" (click)="goToPersonalUser($event)">{{profile.username}}</button>
    <!-- Div for Personal Profile Picture on the side of screen -->
    <div class="user_img_container">
        <img src="{{profile.img}}" alt="">
    </div>
    <!-- redircet the user to the profile page -->
    <div class="user_fullname">{{profile.first_name}} {{profile.last_name}}</div>
</div>


