<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Energy Social Network</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Logout</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<h1>HOME FEED</h1>

<div class="displays_container">
    <div *ngFor="let display of displays" class="display_element">
        <!-- goes to the poster profile page -->
        <button  class="display_user" (click)="goToOtherUser($event)">{{display.profile.username}}</button>
        <div class="display_desciption">{{display.desciption}}</div>
        <!-- <button (click)="toggleLike($event)"[innerText]="display.like ? 'Dislike':'Like'"></button> -->
    </div>
</div>

<div class="user_container">
    <div>{{displays[1].username}}</div>
    <div>IMG GOES HERE</div>
    <!-- redircet the user to the profile page -->
    <button (click)="goToUser($event)">View Profile</button>
</div>

<button (click)="togglePost()">Create Post</button>

<!-- need to make it visable if isVisable is true -->
<div class="post_creation">
    <div class="post">
        <input [(ngModel)]="post_desciption" type="text" placeholder="What is happening">
        <button>Upload Picture</button>
        <button (click)="post()" >Post</button>
    </div>
</div>

